@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@700&display=swap');

@media (max-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 40px auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 40px auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 40px auto;
  }
}

body {
  background-color: #F7F9FC;
  color: #575F7D;
  font-family: 'Montserrat', sans-serif;
}

.card-white {
  background-color: white;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  margin: 20px 0px;
  padding: 40px;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.btn-grey {
  background-color: slategray;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 4px;
  color:whitesmoke;
}

.btn-grey:hover {
box-shadow: 4px 4px 4px 4px rgb(200,200,200);
}

div > p {
  color: RGB(20,20,20);
  margin: 40px auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

ul > li {
  display: inline-block;
  padding: 0px 20px;
}

.fab {
  font-size: 36px;
  color: RGB(60,60,60);
  padding: 0px 0px;
}

.profile-circle {
  width:80px;
  height:80px;
  border-radius: 50%;
}
